@model SCIFTAN.BLL.Models.FREELANCER_CAREER_OBJECTIVE_Model

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    <h4>FREELANCER_CAREER_OBJECTIVE_Model</h4>
    @if (Model == null)
    {
        @Html.ActionLink("Add", "Create", "FreelancerCareerObjective")
    }
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Career_Objective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Career_Objective)
        </dd>

    </dl>
</div>
<p>
    @if (Model != null)
    {
        @Html.ActionLink("Edit", "Edit", "FreelancerCareerObjective")
    }
</p>
