@model SCIFTAN.BLL.Models.FREELANCER_CAREER_OBJECTIVE_Model

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <hr />
    <h4>Career Objective</h4>
    <hr />
<div class="well">
    @if (Model == null)
    {
        @Html.ActionLink("Add", "Create", "FreelancerCareerObjective")
    }
    <div>

        @Html.DisplayFor(model => model.Career_Objective)

    </div>
   
    </div>

<p>
    @if (Model != null)
    {
        @Html.ActionLink("Update", "Edit", "FreelancerCareerObjective", new { @class = "btn btn-warning" })
    }
</p>